<% provide(:title, 'New appointment') %>
<% provide(:button_text, 'Add appointment') %>
<h1>Add an appointment</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@appointment, :url => {:action => 'create'}) do |f| %>

      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.number_field :price, :class => 'text_field', :step => 0.5 %>

      <%= f.label :note %>
      <%= f.text_field :note, class: 'form-control' %>

      <%= f.label :staff %>
      <%= f.collection_select :staff_id, Staff.all, :id, :dentalNumber, include_blank: true %>

      <%= f.label :patient %>
      <%= f.collection_select :patient_id, Patient.all, :id, :phoneNumber, include_blank: true %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>