<% provide(:title, 'New staff member') %>
<% provide(:button_text, 'Add appointment') %>
<h1>Sign up</h1>
<div class="row">
  :date, :staff_id, :patient_id, :timeSpent, :price, :note
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@appointment, :url => {:action => 'create'}) do |f| %>

      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control' %>

      <%= f.label :price %>
      <%= f.number_field :price, :class => 'text_field', :step => 0.5 %>

      <%= f.label :note %>
      <%= f.text_field :note, class: 'form-control' %>

      <%= f.fields_for :staffs do |staff| %>

        <%= staff.label :staff %>
        <%= staff.collection_select :staff_id, Staff.all, :id, :first_name, include_blank: true %>

      <% end %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>