<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([@user, @staff], :url => {:action => 'new'}) do |f| %>

      <%= f.label :dentalNumber %>
      <%= f.text_field :dentalNumber, class: 'form-control' %>


      <%= f.collection_select :id, User.order(:id),:id,:first_name,:last_name, include_blank: true %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>